# Ignore list
.vscode/*
ci/injector_ahb/*
ci/injector_axi/*
ci/axi4_manager/*
ci/.questa.log
synthesis/output/*
synthesis/vivado*
**/work
**/safety
**/noInclude
**/vsim.wlf
**/modelsim.ini
**/transcript
**/.lquesta.log
